= form_for @article do |f|

  %p
    = f.label :title
    = f.text_field :title, :class => "input-xxlarge"
  
  = f.label :text
  = f.text_area :text, :class => "wysihtml5"

  %p
    = f.label :position
    = f.text_field :position, :class => "input-mini" 

  %p
    = f.submit :class => "btn btn-primary"

