.row
  .span4
    %h3= plot.title
  .span4.text-right
    %h2= display_price(plot.price)

- if plot.pictures
  .row
    %br/
    .span8
      = render :partial => 'pictures/showcase', :locals => {:pictures => plot.pictures}
      
.row
  %br/
  .span8
    %h4 Features
    .row
      .span4
        %ul
          %li
            Location:
            = plot.location_
          %li
            Type:
            = display_symbolize_constant(plot, :lot_internal_type)
          %li
            - if plot.lot_internal_type == :plot 
              Plot size:              
            - else
              Land area:
            = display_square_meters plot.plot
    .row
      .span8
        = raw plot.description