.row
  .span8
    = render :partial => 'residential/residential', :object => @residential

  .span2.offset2
    .pull-right
      %p
        = link_to "Back to list", admin_residential_index_path, :class => 'btn span2'
      %p
        = link_to "Edit", edit_admin_residential_path(@residential), :class => 'btn span2'
      %p
        = link_to "Manage Pictures", admin_residential_pictures_path(@residential), :class => 'btn span2'
      %p
        = link_to "Delete", admin_residential_path(@residential), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger span2'

