%legend 
  %small= link_to "Go Back /", root_path
  %strong
    About Cyprus


.row{:style => "margin-top: 45px;"}
  .span6.offset1
    %h3
      %em 
        %a{:href => static_investing_in_cyprus_path} - Investing in Cyprus makes sound business sense!

.row
  .span6.offset1
    %ul.thumbnails
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/1.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/2.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/3.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/4.jpg'  


.row
  .span6.offset4
    .pull-right
      %h3
        %em 
          %a{:href => static_strategic_location_path} - Perfect strategic location!
    
.row
  .span6.offset4
    .pull-right
      %ul.thumbnails
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/5.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/6.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/7.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/8.jpg'  
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/7.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/5.jpg'


.row
  .span6.offset1
    %h3
      %em 
        %a{:href => static_economic_background_path} - Deep economic background!

.row
  .span6.offset1
    %ul.thumbnails
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/9.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/10.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/11.jpg'


.row
  .span6.offset4
    .pull-right
      %h3
        %em 
          %a{:href => static_larnaca_path} - Larnaca one of the fastest growing cities with great potential for investment opportunities!
    
.row
  .span6.offset4
    .pull-right
      %ul.thumbnails
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/5.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/6.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/7.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/8.jpg'  
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/7.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/5.jpg'

.row
  .span6.offset1
    %h3
      %em
        %a{:href => static_tourist_industry_path} - The great cultural heritage!

.row
  .span6.offset1
    %ul.thumbnails
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/29.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/30.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/31.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/32.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/33.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/34.jpg'


.row
  .span6.offset4
    .pull-right
      %h3
        %em 
          %a{:href => static_access_and_transport_path} - Easy access, comfortable transport!
    
.row
  .span6.offset4
    .pull-right
      %ul.thumbnails
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/35.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/36.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/37.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/38.jpg'  
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/39.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/40.jpg'


.row
  .span6.offset1
    %h3
      %em 
        %a{:href => static_property_market_path} - Extensive property market!

.row
  .span6.offset1
    %ul.thumbnails
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/41.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/42.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/43.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/44.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/45.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/46.jpg'


.row
  .span6.offset4
    .pull-right
      %h3
        %em - Massive investment!
    
.row
  .span6.offset4
    .pull-right
      %ul.thumbnails
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/47.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/48.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/49.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/50.jpg'  
