%legend 
  %small= link_to "Go Back /", root_path
  %strong
    About Cyprus


.row{:style => "margin-top: 45px;"}
  .span6.offset1
    %h3
      %em 
        %a{:href => static_investing_in_cyprus_path} - Investing in Cyprus makes sound business sense!

.row
  .span6.offset1
    %ul.thumbnails
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/investing_in_cyprus_1.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/investing_in_cyprus_2.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/investing_in_cyprus_3.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/investing_in_cyprus_4.jpg'  


.row
  .span6.offset4
    .pull-right
      %h3
        %em 
          %a{:href => static_strategic_location_path} - Perfect strategic location!
    
.row
  .span6.offset4
    .pull-right
      %ul.thumbnails
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/strategic_location_1.jpg'
        %li.span4
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/strategic_location_2.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/strategic_location_3.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/strategic_location_4.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/strategic_location_5.jpg'  
        



.row
  .span6.offset1
    %h3
      %em 
        %a{:href => static_economic_background_path} - Deep economic background!

.row
  .span6.offset1
    %ul.thumbnails
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/economic_background_1.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/economic_background_2.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/economic_background_3.jpg'


.row
  .span6.offset4
    .pull-right
      %h3
        %em 
          %a{:href => static_larnaca_path} - Larnaca one of the fastest growing cities with great potential for investment opportunities!
    
.row
  .span6.offset4
    .pull-right
      %ul.thumbnails
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/larnaca_1.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/larnaca_2.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/larnaca_3.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/larnaca_4.jpg'  

.row
  .span6.offset1
    %h3
      %em
        %a{:href => static_tourist_industry_path} - The great cultural heritage!

.row
  .span6.offset1
    %ul.thumbnails
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/tourist_industry_1.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/tourist_industry_2.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/tourist_industry_3.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/tourist_industry_4.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/tourist_industry_5.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/tourist_industry_6.jpg'


.row
  .span6.offset4
    .pull-right
      %h3
        %em 
          %a{:href => static_access_and_transport_path} - Easy access, comfortable transport!
    
.row
  .span6.offset4
    .pull-right
      %ul.thumbnails
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/access_and_transport_1.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/access_and_transport_2.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/access_and_transport_3.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/access_and_transport_4.jpg'  
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/access_and_transport_5.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/access_and_transport_6.jpg'


.row
  .span6.offset1
    %h3
      %em 
        %a{:href => static_property_market_path} - Extensive property market!

.row
  .span6.offset1
    %ul.thumbnails
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/property_market_1.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/property_market_2.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/property_market_3.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/property_market_4.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/property_market_5.jpg'
      %li.span2
        %a{:href => '#', :class => 'thumbnail'}
          = image_tag 'static/about_cyprus/property_market_6.jpg'


.row
  .span6.offset4
    .pull-right
      %h3
        %em 
          %a{:href => static_massive_investment_path} - Massive investment!
    
.row
  .span6.offset4
    .pull-right
      %ul.thumbnails
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/massive_investment_1.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/massive_investment_2.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/massive_investment_3.jpg'
        %li.span2
          %a{:href => '#', :class => 'thumbnail'}
            = image_tag 'static/about_cyprus/massive_investment_4.jpg'  
