%legend
  = link_to 'Property Services', static_property_services_path
  = "/ Development Concept"

.row
  .span8.offset1
    %p
      = image_tag 'static/property_services/development_concept/1.jpg'

    %p
      The development and building of residences, offices, entertainment complexes, hotels and restaurants under a single brand.
    %p
      = image_tag 'static/property_services/development_concept/2.jpg', :class => 'full-width'

    %p
      %strong Development:

    %ul
      %li To choose a plot of land taking into account the conception of the company development.
      %li To participate in architectural and project works.
      %li To receive and resolve documentation for the completion of the construction.
      %li The management of the building works. 
      %li The promotion of the project to the market. 
      %li The interior, lighting and water designs.
      %li The landscape design. 
      %li The supplying of furniture and accessories from well known world brands. 
      %li The automation of objects. 
      %li The completion of projects.

    %p
      The attraction of investments.  

    %p
      %center
        = image_tag 'static/property_services/development_concept/3.jpg'

    %p
      To provide a maintenance service to the buyers of the real estate.
       
    %p
      The total management of the real estate.

    %p
      = image_tag 'static/property_services/development_concept/4.jpg'      

