%legend
  = link_to 'About Cyprus', static_about_cyprus_path
  = "/"
  %strong
    Investing in Cyprus makes sound business sense

.row
  .span10.offset1

    %p - <strong>Strategic location</strong> at the crossroads of three continents, providing an ideal base for expansion into new markets.

    %p
      = image_tag 'static/about_cyprus/investing_in_cyprus/1.jpg'

    %p - <strong>Member of the European Union</strong> serving as Europe's Middle Eastern outpost and a gateway for the movement of goods inside and outside the European borders.

    %p - <strong>Favorable taxation</strong> including 10% corporation tax and low personal income tax.

    %p - <strong>A prosperous and resilient economy</strong> enjoying long-term stability and growth, and relatively high income.

    %p - <strong>Liberal FDI policy</strong> allowing 100% participation in almost all sectors of the economy.

    %p - <strong>Skilled workforce</strong> highly qualified and multilingual with one of the highest percentage of university degree holders in the world.

    .row
      .span4.offset5
        = image_tag 'static/about_cyprus/investing_in_cyprus/2.jpg'

    %p - <strong>Double tax treaties</strong> with over 40 countries.

    %p - <strong>Bilateral investment agreements</strong> with 19 countries.

    .row
      .span7.offset1
        = image_tag 'static/about_cyprus/investing_in_cyprus/3.jpg'

    %p{:style => 'margin-top: 25px;'} - <strong>Excellent Infrastructure</strong> providing easy access by air and sea, and serving as an important telecommunications hub in the region.

    %p - <strong>Low set up and operating costs</strong> including rental costs, salaries and social insurance contribution.

    %p - <strong>Simplified administrative procedures</strong> for acquiring necessary permits-company registration may be completed within 4 days.

    %p - <strong>Efficient</strong> legal, accounting and banking services.

    .row
      .span7.offset1
        = image_tag 'static/about_cyprus/investing_in_cyprus/4.jpg'
        = image_tag 'static/about_cyprus/investing_in_cyprus/5.jpg'      
        = image_tag 'static/about_cyprus/investing_in_cyprus/6.jpg'

    %p{:style => 'margin-top: 25px;'} - <strong>A great place to live and work</strong> with pleasant climate, agreeable topography, high standard of living and with one of the lowest crime rates within the European Union.

    %p - <strong>Strong growing tourist industry</strong>; more than 2.000.000 visitors every year.

    %p - <strong>Attractive property market</strong> and a popular option not only for investors but for first and second home owners.