%legend
  = link_to 'About Cyprus', static_about_cyprus_path
  = "/"
  %strong
    Larnaca

.row
  .span11
    %h3.pull-right one of the fastest growing cities with great potential for investment opportunities -

.row{:style => 'margin-top: 35px;'}
  .span8.offset2
    = image_tag 'static/about_cyprus/larnaca/1.jpg'
    = image_tag 'static/about_cyprus/larnaca/3.jpg'

.row{:style => 'margin-top: 35px;'}
  .span10.offset1
    .row
      .span5
        %p
          %strong Location & Access

        %ul
          %li The city of Larnaca is situated on the South-East shore of Cyprus.
          %li 
            Larnaca is a gate away to Cyprus and disposes of the following success key factors: <br />
            &nbsp; - Main International Airport of the island <br />
            &nbsp; - Second most important sea port <br />
            &nbsp; - The largest and busiest marina <br />
            &nbsp; - International and local accessibility as it is connected by highways to all neighboring cities. <br />
          %li The excellent access from the airport can be an advantage to the economy of the city and its quality of life for its residents. 
          %li The airport already contributes to the economy of the city and its diversity.
      .span5
        = image_tag 'static/about_cyprus/larnaca/2.jpg'

    .row
      .span5
        = image_tag 'static/about_cyprus/larnaca/4.jpg'
      .span5
        %p
          %strong Tourist Industry

        %ul
          %li Cyprus has long been a popular holiday destination for tourists, since millions of visitors are coming to the island.
          %li Tourism plays an important role in the growth of the Northern Cyprus economy.
          %li Plans are afoot to increase tourism on the island and infrastructure is being improved and updated.
          %li The estimated increases of tourism are around 4-5% per year over the next 10 years, this revenue stream seems only set to continue for the foreseeable future.
        