%legend
  = link_to 'About Cyprus', static_about_cyprus_path
  = "/"
  %strong
    Massive Investment
  for the old International airport

.row
  .span10.offset1
    %center
      %p
        = image_tag 'static/about_cyprus/massive_investment/2.jpg'

    %p{:style => 'margin-top: 40px;'}
      Airport operator Hermes signed a multimillion deal with Chinese firm Far Eastern Phoenix Ltd . The firm plans to develop the old Larnaca airport area, with a large commercial showroom for Chinese products and a logistics centre.

    %p
      According to the agreement, the firm will take over management of the area for the next 19 years, with the possibility of extending it to 50.

    %center
      <iframe width="560" height="315" src="http://www.youtube.com/embed/rdV_8Jbt3vM?rel=0" frameborder="1" allowfullscreen></iframe>

    %p{:style => 'margin-top: 40px;'}
      %h3 Redevelopment of the Port and Marina

    .row
      .span6
        = image_tag 'static/about_cyprus/massive_investment/1.jpg'
      .span4
        %p
          The agreement has been already signed and the project has been assigned to the consortium with the most competitive offer and development is planned to commence in the first quarter of 2012 with six-year horizon. The first phase will include the development of the port and the marina and the second phase that will begin three years after 2012 will include hotels, residential properties, commercial properties and entertainment facilities.

        %p
          The commercial port of Larnaca is due to undergo a €1 billion facelift including the building of a new marina that will be able to accommodate the largest cruise ships, closing of the oil refinery, and relocation in 2012 of the petrol depots.

    .row{:style => 'margin-top: 20px;'}
      .span4
        %p
          This is not just a port transformation, but a huge scheme that includes a large marina, bids from 3 well-established consortiums, five star hotels, leisure and retail developments and a promenade to central Larnaca and nearby beaches. This project will not only put Larnaca firmly on the international cruise map, but will also turn Larnaca into world class destination for cruise tourists.

        %p
          Larnaca possesses the ideal conditions to become a Home Port serving the Eastern Mediterranean, Greek Islands, Black Sea and Holy land with particular attraction to British, German and of course Cypriot cruise Lines.
      .span6
        = image_tag 'static/about_cyprus/massive_investment/3.jpg'