%legend
  = link_to 'Permanent Residence in Cyprus', static_permanent_residence_path
  = "/"
  %strong
    Naturalisation in Cyprus

.row
  .span8
    %p
      %center
        = image_tag 'static/permanent_residence/naturalisation/1.jpg'

    %p{:style => 'margin-top: 40px;'}
      %strong
        %ul
          %li Direct Investments.
          %li Entrepreneurial Activities.
          %li Introduction of new and innovative technologies.
          %li Bank Deposits.
          %li Combination of Direct Investments.
          %li Direct Income / Remuneration for Services.
    %p
      The Council of Ministers decided on the 10th October 2011 that there would be new criteria for Naturalisation of Foreign Investors / Entrepreneurs by Exemption on the basis of par. 2(f) of the Third Schedule of the Civil Registry Laws 2002-2011. The criteria are:

    %p
      <strong>Direct Investments:</strong><br />
      The applicant should have direct investments in the Republic of Cyprus amounting to a minimum of €10 million. Direct Investments include among other things purchases of immovable properties, businesses / companies, shares, financial assets (e.g. securities registered and issued in the Republic of Cyprus);

    %p
      %strong or

    %p
      <strong>Entrepreneurial Activities:</strong><br />
      The applicant should have established/registered in the Republic of Cyprus a Company/Companies controlled by him, with a total minimum turnover, in accordance with the company’s/companies Audited Accounts, of €10 million per annum, on average, over the last 3 years preceding the year of the application and at least 1/3 of the applicant’s employees are citizens of the Republic of Cyprus;

    %p
      %strong or

    %p
      = image_tag 'static/permanent_residence/naturalisation/2.jpg'

    %p
      <strong>Introduction of new and innovative technologies, Research Centres:</strong><br />
      The applicant should prove that he has introduced on a large scale new and innovative technologies in vital/major sectors of the Cyprus economy or that he has established an important Research Centre for the conduct of research locally, on a large scale;

    %p
      %strong or

    %p
      <strong>Bank Deposits:</strong><br />
      The applicant should have personal deposits in Cypriot banks or deposits of privately owned Companies or of a trust (in which he is a shareholder) in the Republic of Cyprus amounting to a minimum of €15 million, spanning a five year fixed period;

    %p
      %strong or

    %p
      <strong>Combination of Direct Investments, Entrepreneurial Activities and Deposits in Cypriot banks:</strong><br />
      The applicant should have a combination of the above-mentioned assets amounting to €15 million;

    %p
      %strong or

    %p
      = image_tag 'static/permanent_residence/naturalisation/3.jpg'

    %p
      <strong>Direct Income / Remuneration for Services:</strong><br />
      The applicant should have established a company or companies, the management of which is in the Republic of Cyprus, and in the last 3 years preceding the year of the application to have paid into the Cyprus economy either in the form of income tax payments / V.A.T. and/or in the form of remuneration for the purchase of business services (legal, accounting, auditing, banking and others) at least €500.000 on average per annum.

    %p
      %strong
        In addition a holder of a Permanent Residence Permit has the option of applying for naturalization in advance of the 7 year criteria.

    %p
      %strong
        For more information on this please 
        %u
          = mail_to MbtRealestate::Application.config.admin_email, "contact us.", :encode => "javascript"

  #portamento_container.span4
    #navigation-links
      %blockquote
        %h3= link_to 'Permanent Residence', static_permanent_residence_path
        %h3= link_to 'Why Cyprus?', static_why_cyprus_path
        %h3= link_to 'Required Documents', static_required_documents_path
        

