%legend Permanent Residence in Cyprus

.row
  .span8
    %dl
      %dt Permanent Residence in Cyprus
      %dd
        %br/
        = link_to 'read more ...', static_permanent_residence_path
      %dt Why Cyprus?
      %dd
        %br/
        = link_to 'read more ...', static_why_cyprus_path
      %dt 
        Required Documents
      %dd
        %br/
        = link_to 'read more ...', static_required_documents_path
      %dt
        Naturalisation in Cyprus
      %dd
        %br/
        = link_to 'read more ...', static_naturalisation_in_cyprus_path
  .span4
    = image_tag "static/permanent_residence/1.jpg"