%legend 
  %strong
    Permanent Residence in Cyprus

.row
  .span8
    %p
      There are a variety of different programs available for residency or citizenship in Europe. MBT Group provides the following programs:

    %p
      = image_tag 'static/permanent_residence/2.jpg', :class => 'pull-right'

    %ul
      %li Permanent residence in Cyprus
      %li Naturalisation in Cyprus


    %p
      According to the provisions of Regulation 6(2) of the Aliens and Immigration Regulations, the Minister of the Interior decided to issue Immigration Permit to applicants, who are third country nationals, provided that they fulfill the following criteria:

    %p
      a)The applicant must prove that he has at his disposal a secured minimum annual income of €30.000, from sources other than employment in Cyprus. The required income of €30.000 could derive from salaries of employment abroad and not in Cyprus, pensions, stock shares, rents, etc. The necessary minimum annual income is increased by €5.000 for each dependent person.

    %p
      = image_tag 'static/permanent_residence/3.jpg', :class => 'fill-width'

    %p
      b)The applicant must submit the application form accompanied with a Title of ownership or contract of sale, of a property in Cyprus, a house, apartment or other building, of a minimum market value of €300.000 and proof of payment for at least €200,000. The contract of sale should already have been submitted to the Department of Lands and Surveys.

    %p
      = image_tag 'static/permanent_residence/4.jpg'

    %p
      c)The applicant must submit a confirmation letter from a Cypriot Bank stating that he has deposited a minimum capital of €30.000 in an account, which will be pledged at least for a three year period.

    %p
      d)It is noted that the amounts mentioned in paragraphs (b) and (c) should be proven to have been transferred to Cyprus from abroad.

    %p
      e)The applicant must submit a Criminal Record Certificate (if the applicant resides abroad), which must be issued by the Authorities in his country of origin, and he should not constitute in general any threat against public order or security in Cyprus.

    %p
      = image_tag 'static/permanent_residence/5.jpg'

    %p
      f)The applicant should submit a Statement that he does not intent to work or be engaged in any form of business in Cyprus.

    %p
      g)The applicants should visit Cyprus at least once every two years.

  #portamento_container.span4
    #navigation-links
      %blockquote
        %h3= link_to 'Why Cyprus?', static_why_cyprus_path
        %h3= link_to 'Required Documents', static_required_documents_path
        %h3= link_to 'Naturalisation&nbsp;in&nbsp;Cyprus'.html_safe, static_naturalisation_path

