%legend 
  %strong
    Property Services

.row
  
  .span8
    %dl
      %dt 
        %h3 Our Services
      %dd
        %blockquote
          We are a real-estate developer in Cyprus focusing purely on creating luxurious properties for buyers at the top-end of the wealth scale.
          %br/
          %strong
            = link_to 'read more ...', static_our_services_path
      %dt 
        %h3 Mission
      %dd
        %blockquote
          Our mission is to deliver prestigious projects defined by innovative design, modern technologies, high-quality materials and unparalleled craftsmanship. Driven by a passion for excellence we instill a unique sense of comfort and exclusivity to all our houses and apartments, surprising even the needs of the most demanding international clientele.
          %br/
          %strong
            = link_to 'read more ...', static_mission_path
      %dt 
        %h3 Development Concept
      %dd
        %blockquote
          Our strict structural approach allows us to use the newest developments and technologies in the field of building and to acquire the most modern building materials from leading world producers.
          %br/
          %strong
            = link_to 'read more ...', static_development_concept_path
      %dt
        %h3 Strategy
      %dd
        %blockquote
          All previous projects of MBT Company are fully automated and directed towards the economy of electric power, and also to monitor the infrastructural networks of a building, adding and, certainly, strengthening the comfort of living.
          %br/
          %strong
            = link_to 'read more ...', static_strategy_path
  .span4
    = image_tag "static/property_services/1.jpg"
  