%legend
  = link_to 'About Cyprus', static_about_cyprus_path
  = "/"
  %strong
    Property Market

.row
  .span10.offset1

    %h3{:style => 'margin-bottom: 30px;'} Cyprus has a strong property market

    = image_tag 'static/about_cyprus/property_market/1.jpg'


    %p{:style => 'margin-top: 30px;'}
      <strong>Cyprus</strong> has seen a major boom time for property over the last few years after revealing the intention to join the European Union.

    .row
      .span7
        %ul
          %li Today's property investors are not just seeing Cyprus as a favorable choice, but also as one of Europe's top property investment region.
          %li With the increasingly challenging global financial climate causing investors to redefine objectives and returns, Cyprus is becoming a very popular option for investors seeking a long term, more stable property investment.
          %li Even with the world economic crisis, property prices in selected areas in Cyprus have remained stable.
          %li Cyprus is a small place with demand always higher than supply.
      .span3
        = image_tag 'static/about_cyprus/property_market/2.jpg'

    
    %h3 Natural Gas

    = image_tag 'static/about_cyprus/property_market/4.jpg'      

    %p{:style => 'margin-top: 20px;'}
      Noble Energy Inc. said a field off the coast of Cyprus may hold as much as 8 trillion cubic feet of natural gas, the first discovery off the divided island nation.

    .row
      .span6
        %p
          Results from the Cyprus A-l well indicate from 5 to 8 trillion cubic feet of gas, with a gross mean of 7 trillion cubic feet, Houston-based Noble Energy said today in a statement. The field covers about 40 square miles (100 square kilometers) and requires additional appraisal drilling before development, the company said.

        %p
          The gas discovery in the exclusive economic zone of our country creates great prospects for Cyprus and its people, which we shall seriously; prudently and collectively exploit to serve public interest

        %p
          Cyprus is coming into Europe's energy map with prospects of substantially contributing to the EU's energy security.

      .span4
        = image_tag 'static/about_cyprus/property_market/5.jpg'

    %p
      During the last few years, the Cyprus energy system has shown strong potential and is currently passing through a period of significant changes, with the liberalisation of the energy markets (electricity) as required by the applicable Guidelines, the decision for import and penetration of Natural Gas in the energy mix of the country, the promotion of renewable energy sources, modern cogeneration systems and energy saving, changes which require structural interventions to face the new challenges in the field of energy.


    %p
      %h3 Energy Centre

    %p
      Cyprus as an EU member country is obligated to maintain national security stocks equivalent to 90 days consumption, while the country’s targets include the diversification of the energy balance of the country with the introduction of natural gas, as well as the reduction of air pollutants and the implementation of the provisions of the Kyoto Protocol.

    %p
      = image_tag 'static/about_cyprus/property_market/6.jpg'

    %p
      Therefore, the Republic of Cyprus decided to establish the Energy Centre, which will include facilities for the import, storage of strategic and operational stocks, management, distribution and export of oil products, as well as facilities for the import, storage and regasification of Liquefied Natural Gas (LNG).

    .row
      .span6
        %p
          The Energy Centre will be built on the south coast of Cyprus, at a distance of 25Km east of Limassol, in the area formerly occupied by the Hellenic Chemical Industries fertilizer manufacturing facility. This area was considered as the most appropriate for the erection of storage and distribution facilities for petroleum products, as well as for the establishment of a receiving and storage terminal for LNG, due to its location and nature. Initially, natural gas will be mainly used by the nearby Power Station of the Electricity Authority of Cyprus (EAC) for power generation; hence the site chosen for locating the Energy Centre borders the aforesaid Power Station.
        %p
          With the creation of the Energy Centre at Vasilikos, the Government of Cyprus aims to achieve a secure and cost-effective, long-term, energy supply in the country, the operation of a liberalized oil market and fair competition, as well as better control and maximum transparency in pricing.
      .span4
        = image_tag 'static/about_cyprus/property_market/7.jpg'