%legend
  = link_to 'Permanent Residence in Cyprus', static_permanent_residence_path
  = "/"
  %strong
    Required Documents

.row
  .span8
    %p
      = image_tag 'static/permanent_residence/required_documents/1.jpg'
    %p
      %strong
        In order to visit Cyprus to inspect properties we will need to complete an Invitation form. This information is required in order to complete the visa invitation:

      %ul
        %li 
          Valid passport copy showing
          %br/
          %i –Full name
          %br/
          %i –Date of birth
          %br/
          %i –Sex
          %br/
          %i –Place of birth
          %br/
          %i –Nationality
          %br/
          %i –Passport number


        %li 
          Full address in your home country
        %li 
          The dates that the person plans to arrive and leave Cyprus (the Embassy will check the dates of their airline ticket against the dates on the invitation letter)
        %li
          Whether the person will be traveling with spouse and/or children
        %li
          An address in Cyprus where they will be staying e.g. hotel, villa address.

    %p
      = image_tag 'static/permanent_residence/required_documents/2.jpg'

    %p
      %strong
        The following documents will be required for your application for Permanent Residence (translated and legalised):

      %ul
        %li 4 passport sized photos
        %li Valid passport (copy)
        %li Utility bill
        %li CV/resume
        %li Affidavit of income
        %li Property sale agreement
        %li Statement of non employment
        %li Health insurance policy
        %li Medical certificate, testing: VDRL (Syphilis), HBsAG (Hepatitis B), HCV Hepatitis C, AIDS HIV I & II
        %li Criminal record certificate

    %p
      %strong
        Dependants (spouse and children under 18, for each)

      %ul
        %li Same as above for each dependant if applicable plus
        %li Children’s birth certificate(s)
        %li Marriage certificate


  #portamento_container.span4
    #navigation-links
      %blockquote
        %h3= link_to 'Permanent Residence', static_permanent_residence_path
        %h3= link_to 'Why Cyprus?', static_why_cyprus_path
        %h3= link_to 'Naturalisation&nbsp;in&nbsp;Cyprus'.html_safe, static_naturalisation_path