%legend
  = link_to 'About Cyprus', static_about_cyprus_path
  = "/"
  %strong
    Cyprus - Strategic location

.row
  .span10.offset1

    .row
      .span8.offset1
        = image_tag 'static/about_cyprus/strategic_location/1.jpg'
        = image_tag 'static/about_cyprus/strategic_location/2.jpg'
        = image_tag 'static/about_cyprus/strategic_location/3.jpg'
    
    %p{:style => 'margin-top: 45px;'}
      %strong
        %ul
          %li Cyprus is the third largest island situated at the crossroads of 3 continents
          %li The island is been the connectivity to the busy trade routes linking Western Europe with the Arab World and the Far East.
          %li Cyprus is the key international transshipment centres with substantial amount of products re-exported.
          %li Cyprus has a Mediterranean climate with abundant sunshine year round.
          %li The local language is Greek but over 80% of the population speaks English.

    %p{:style => 'margin-bottom: 45px;'}
      %h3 International Relations
      Cyprus is a member of the European Union, the United Nations, the Council of Europe, the World Trade Organization, the World Bank, the Common wealth and the International Monetary Fund.

    .row
      .span8.offset1
        = image_tag 'static/about_cyprus/strategic_location/4.jpg'
        = image_tag 'static/about_cyprus/strategic_location/5.jpg'
        = image_tag 'static/about_cyprus/strategic_location/6.jpg'


    %p{:style => 'margin-top: 45px;'}
      %h3 Infrastructure
      Cyprus is well connected via sea, air and telecommunications. Due to its advanced telecommunications network and the superb regional and global connectivity on offer, the island is considered as one of the most important telecommunications hubs in the Eastern Mediterranean and the Middle East region. In addition, Cyprus' role as a regional commercial and Business centre, coupled with the development of a wide network of air-routes offering excellent connections with Europe, Africa and Asia. The multi-purpose ports of Limassol and Larnaca are the country's main sea gateways for Seaborne cargo and passenger traffic. Both ports have become important regional warehouse and distribution centers.