%legend
  = link_to 'Property Services', static_property_services_path
  = "/ Strategy"

.row
  .span10
    %p
      <strong>MBT</strong> Company <strong>Modern Building Technology</strong> (Cyprus) - is a development company that specializes in building elite «Premium» class real estate in Cyprus.

    %p
      %center
        = image_tag 'static/our_strategy_01.jpg'

    %p
      Since 2002 the Company has developed successfully. During this period we have gained a wealth of experience in building, providing financial advice, sales, management and in PR techniques of real estate. We have cooperated and collaborated with many subdivisions, companies, legal entities, financial institutes and public organizations. All projects of <strong>MBT</strong> Company are located in Larnaca town with the most potential for growth and development of projects at a similar level.

    %p
      %center
        = image_tag 'static/our_strategy_02.jpg'

    %p
      The European Union and the Government of Cyprus plan to make Larnaca a business-center, to bind Europe to Asia and Africa with the combination of air and marine transport (sending part of the passenger flow from Europe to south-east Asia at OAE).

    %p
      The European Union directed the first investments at modernization and the development of communications, connection and transport. The next logical stage of development is a requirement of modern office centers and high quality residences.

    %p
      %center
        = image_tag 'static/our_strategy_03.jpg'

    %p
      The segment of the real estate «Premium» market in Cyprus is at the stage of being in the most attractive position for legal entities and private investors.

    %p
      The Company’s projects are located in the Premium class area. We have sites at front sea line in the tourist area of Dhekelia and also in a central part of Larnaca town adjoining to marine, port and also transport arteries that lead to the airport.

    %p
      = image_tag 'static/our_strategy_04.jpg'

    %p
      The aspiration of the Company is not to offer for sale square meters (as accepted) but to present an effective and fully equipped product to the market such as private homes, residential complexes and top class office buildings. This thesis is confirmed in all <strong>Modern Building Technology</strong> Company projects by controlling the whole cycle of building, creating an excellent infrastructure and providing quality property administration.

    %p
      = image_tag 'static/our_strategy_05.jpg'

    %p
      As a rule, the buyer of the real estate can run into problems in everyday situations, with uncomfortable results and with incorrect calculations from an ergonomics point of view. Our Company considers the way to success is to be functional and to use intelligence in order to satisfy and meet the necessities of the owners of the real estate. The future, as we see it in our projects, will be modern functional architecture and the creation of harmony, comfort and a friendly atmosphere. The unique style will be created by introducing new technological methods using technical equipment and the use of both fashionable composite and traditional natural materials such as marble and stone in elements of the décor.

    %p
      To help to examine and to discover a way of understanding the necessities of a buyer but not to impose on or to try to convince someone of something that is not of their vital philosophy.

    %p
      The strategic course and principle position is to follow the set way of the development, chosen by MBT Company. We are not subject to short-term fluctuations in order to meet with success; today <strong>Modern Building Technology</strong> Company estimates and admits to being the strongest corporate brand in the real estate market. We can only strengthen and develop this course.