%legend
  = link_to 'About Cyprus', static_about_cyprus_path
  = "/"
  %strong
    Tourist Industry

.row
  .span10.offset1

    
    %p
      Cyprus has long been a popular holiday destination for tourists, since millions of visitors are coming to the island.
      
    .row
      .span4
        = image_tag 'static/about_cyprus/tourist_industry/1.jpg'
      .span6
        %p
          Tourism plays an important role in the growth of Cyprus economy. Plans are afoot to increase tourism on the island and infrastructure is being improved and updated. The estimated increases of tourism are around 4-5% per year over the next 10 years, this revenue stream seems only set to continue for the foreseeable future.
        %p
          There are many good reasons why Cyprus is an incredibly popular holiday destination. A trip to Cyprus offers visitors the chance to relax in the sun, immerse themselves in local history and enjoy the wide variety of water sports and many other amazing things. You will never be short on something to do, but at the same time, if it’s rest and relaxation that you are after, the beaches offer an idyllic setting.

    %p
      Cyprus also offers remote picturesque mountain villages which are home to serene monasteries, stunning churches, impressive castles and fascinating museums. The local people are extremely friendly, making every visitor feel very welcome.
      

    %p
      Modern, luxury hotels can be found in the coastal resort towns and there are over 500 hotels and apartments to be found throughout the island.

    

    .row
      .span5
        %p
          %h3 Weather
        %p
          Cyprus is lucky to enjoy a Mediterranean climate. There is sunshine year-round, long summers with little rain and mild winters. Autumn and spring are very short seasons, but still warm enough for sunbathing and swimming.

        %p
          The rainy season is from January to February, with the highest parts of the Troodos Mountains seeing snow. However, even during these wet times, temperature remain a warm 17°C. July and August are the hottest months of the year, when temperatures can be uncomfortably hot, reaching 32°C.
      .span5
        = image_tag 'static/about_cyprus/tourist_industry/3.jpg'

    %p
      %h3 History

    %p
      The country of Cyprus has been a settlement since 5800 BC. Egyptians, Mycenaean’s, Phoenicians, Persians and Romans have all used it for either political or economical reasons, but the influence from the Greeks has been the most lasting.

    %p{:style => 'margin-left: 40px;'}
      = image_tag 'static/about_cyprus/tourist_industry/6.jpg'
      = image_tag 'static/about_cyprus/tourist_industry/5.jpg'
      = image_tag 'static/about_cyprus/tourist_industry/4.jpg'
            

    %p
      Cyprus was a very unsettled country for many centuries, partly due to being ruled and influenced by so many people.

    %p
      During WWI, when the allies experienced hostilities with Turkey, Britain occupied the island and it was named a crown colony in 1925. This upset the Greek population of Cyprus, as they felt that Greece was their mother country, not Britain, and a Guerrilla war began in protest to British rule.

    %p
      In 1958, a Greek Cypriot nationalist leader, Archbishop Markarios, started to call for Cypriot independence, which prompted Turkish Cypriots to call for a partition between Greek and Turkish Cyprus.

    


    .row
      .span7
        %p
          Cyprus became an independent nation on 16th August 1960, with Markarios being its first president. He was to stay president for 14 years until he was overthrown by a military coup led by the Cypriot National Guard. On 20th July 1974, Turkey invaded Cyprus gained 30 per cent of northern Cyprus. Over 180,000 Greek Cypriots found themselves without a home after this invasion. In December 1974, Markarios re-established himself as the country’s president, Turkish troops were permitted to stay in the north and the island was partitioned into Greek and Turkish territories, separated by a UN buffer zone.
        %p
          In 1983, Turkish Cypriots proclaimed their area of northern Cyprus to be a separate state and named it the Turkish Republic of Northern Cyprus. The UN declared this illegal. No country, except for Turkey, has ever recognised it as being a separate state. In May 2004, the Greek area of Cyprus joined the EU on its own.

        %p
          For many, Cyprus is the birthplace of famous Greeks gods, such as Adonis and Aphrodite, and offers a number of spectacular archaeological remains, some of which date back more than 10,000 years. Early-Neolithic sites are located within Kastros, Khirokitia and Shillourokambos. Also of note is the Temple to Apollon Ilatis, which is close to Limassol, and the ancient city of Salamis, situated on the eastern shore of Cyprus and to the north of Famagusta.

        %p
          Nicosia serves as the capital of Cyprus and has central location on the island, where it is also the largest city, by far. Larnaca is another prominent city and the oldest on the island, with many beachfront hotels and attractions, while both Limassol and Paphos are also significant tourist destinations, offering plenty in the way of water sports, dining and shopping.
      .span3
        = image_tag 'static/about_cyprus/tourist_industry/7.jpg'
