%legend
  = link_to 'Permanent Residence in Cyprus', static_permanent_residence_path
  = "/"
  %strong
    Why Cyprus?

.row
  .span8
    %center
      %p= image_tag 'static/permanent_residence/why_cyprus/1.jpg'
      %p= image_tag 'static/permanent_residence/why_cyprus/2.jpg'
      %p= image_tag 'static/permanent_residence/why_cyprus/3.jpg'

    %p
      %strong
        %ul
          %li Democratic republic with Constitutional protection of minorities
          %li Corporate tax is 10%, the lowest Tax in Europe
          %li Double tax treaties with over 50 countries including China
          %li Macroeconomic stability
          %li Foreign investments with proven track records
          %li Efficient legal, accounting and banking services
          %li Advanced telecommunications network and infrastructure
          %li Highly qualified and multilingual work force
          %li Reputable International Shipping Centre
          %li Popular Holiday Destination
          %li European standard of living
          %li Richest country in Europe in 5 years (Oil, Gas)
          %li Very Good Education (English Language UK University)
          %li Links Europe, Asia, Africa
          %li Great Weather (Best in Europe)
          %li English speaking, English law

    .row
      .span3
        = image_tag 'static/permanent_residence/why_cyprus/4.jpg'
      .span4
        %p{:style => 'margin-top: 65px;'}
          %strong Buy Cyprus PROPERTY > €300.000

    .row
      .span4
        %p{:style => 'margin-top: 65px;'}
          %strong Deposit in a Cyprus bank account > €30.000
      .span3
        = image_tag 'static/permanent_residence/why_cyprus/5.jpg'
      
    .row
      .span3
        = image_tag 'static/permanent_residence/why_cyprus/6.jpg'
      .span4
        %p{:style => 'margin-top: 65px;'}
          %strong Prove income from home country €30.000

    %p{:style => 'margin-top: 40px;'}
      %strong
        5-Year Cyprus (EU) Permanent Residence Permit
    .row
      .span4.offset1
        %p
          = image_tag 'static/permanent_residence/why_cyprus/7.jpg'


    %p{:style => 'margin-top: 40px;'}
      %strong
        After 5 years (living in Cyprus) = EU Passport <br/>
        (live anywhere in Europe)

    %p= image_tag 'static/permanent_residence/why_cyprus/3.jpg'

    %p{:style => 'margin-top: 40px;'}
      %strong
        Very Simple and quick process!

  #portamento_container.span4
    #navigation-links
      %blockquote
        %h3= link_to 'Permanent Residence', static_permanent_residence_path
        %h3= link_to 'Required Documents', static_required_documents_path
        %h3= link_to 'Naturalisation&nbsp;in&nbsp;Cyprus'.html_safe, static_naturalisation_path
