.row
  .span5
    %h3= residential.title
  .span3.text-right
    %h2 
      &euro;
      = display_price(residential.price)

- if residential.pictures
  .row
    %br/
    .span8
      = render :partial => 'pictures/showcase', :locals => {:pictures => residential.pictures}      

.row
  %br/
  .span8
    - @residential.features.map do |feature_title, feature_elements|
      .feature
        %h4= feature_title
        %ul
          - feature_elements.each do |element|
            %li= raw element