.row
  .span5
    %h3= residential.title
    - if residential.title_deed_ready
      %span{:class => ['label','label-success']} Title deed ready
    - else
      %span{:class => ['label']} Title deed not ready
  .span3.text-right
    %h2 
      &euro;
      = display_price(residential.price)

- if residential.pictures
  .row
    %br/
    .span8
      = render :partial => 'pictures/showcase', :locals => {:pictures => residential.pictures}      

.row
  %br/
  .span8
    %h4 Features
    .row
      .span4
        %ul
          %li
            Location:
            = residential.location.name
          %li
            Type:
            = display_symbolize_constant(residential, :residential_type)
          %li
            Bedrooms:
            = residential.bedrooms
          %li
            Baths:
            = residential.baths
          %li
            Price:
            = residential.price
          %li
            Private pool:
            = residential.private_pool
          %li
            Communal pool:
            = residential.communal_pool
        
      .span4
        %ul
          %li
            Covered area: 
            = residential.covered_area
          %li
            Opened veranda:
            = residential.opened_veranda
          %li
            Plot size:
            = residential.plot
          %li
            Levels:
            = residential.levels
          %li
            Distance to sea:
            = residential.distance_to_sea
          %li
            Parking:
            = residential.parking
        
    - @residential.features.map do |feature_title, feature_elements|
      .feature
        %h4= feature_title
        %ul
          - feature_elements.each do |element|
            %li= raw element