= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  = f.label :email 
  = f.email_field :email, :placeholder => "Email", :size => "30"
  
  = f.label :password
  = f.password_field :password, :placeholder => "Password", :size => "30"
  
  %label.checkbox(for="admin_remember_me")
    = f.check_box :remember_me
    Remember me
    
  = f.submit "Sign in", :class => "btn btn-primary"