.row
  .span3.well.lform
    = form_tag search_lots_path, :class => 'form-inline', :id => 'residential-search-form' do
      = field_set_tag do
        .row
          .span3
            .control-group
              = label_tag :type, "I want to"
              .controls
                = select_tag :type, options_for_select([["find a residential","Residential"],["invest money in something","Investment"],["buy a plot or land","Plot"]])
        .row
          .span3
            .control-group
              = label_tag :location_id, "In the following location"
              .controls
                = select_tag :location_id, options_for_select(@residential_search_form.locations), :class => 'span2 focused'

        .row
          .span3
            = label_tag :price_from, "For the following price"
        .row
          .span1
            .control-group
              .controls
                = select_tag :price_from, options_for_select([["Min",0],[1000,1000],[1500,1500],[2000,2000],[3000,3000],[4000,4000],[5000,5000]], 0), :class => 'span1 focused'
          .span1
            .control-group
              .controls
                = select_tag :price_to, options_for_select([[1000,1000],[2000,2000],[3000,3000],[4000,4000],[5000,5000],['Max','']], ''), :class => 'span1 focused'

        .row
          .span3.pull-right{:style => 'margin-top: 10px;'}
            = submit_tag "Go", :class => 'btn btn-primary pull-right'

  .span8.home_carousel.no_margin_left.pull-right
    <img src='http://www.livadhiotisdevelopers.com/upfiles/Image/SplashImages/splash_small_01.jpg' />

    
%ol
  - @lots.each do |lot|
    %li= link_to "#{lot.title} (#{lot.type})", lot_path(lot)