.row
  .span3.well.lform
    = form_for @lot_search_form, :url => search_lots_path, :method => :get, :html => {:class => 'form-inline', :id => 'lots-search-form'} do |f|
      = field_set_tag do
        .row
          .span3
            .control-group
              = f.label :type, "I want to".html_safe
              .controls
                = f.select :type, @lot_search_form.types
        .row
          .span3
            .control-group
              = f.label :location, "In the following location".html_safe
              .controls
                = f.select :location, @lot_search_form.locations, {}, :class => 'span2 focused'

        .row
          .span3
            = f.label :price_from, "For the following price".html_safe
        .row
          .span1
            .control-group
              .controls
                = f.select :price_from, @lot_search_form.prices_from, {}, :class => 'span1 focused'
          .span1
            .control-group
              .controls
                = f.select :price_to, @lot_search_form.prices_to, {}, :class => 'span1 focused'

        .row
          .span3.pull-right{:style => 'margin-top: 10px;'}
            = f.submit "Go", :class => 'btn btn-primary pull-right'

  .span8.home_carousel.no_margin_left.pull-right
    #carousel-loader
    #carousel.showcase
      .showcase-slide
        .showcase-content
          = image_tag "home/pic01.jpg"
      .showcase-slide
        .showcase-content
          = image_tag "home/pic02.jpg"
      .showcase-slide
        .showcase-content
          = image_tag "home/pic03.jpg"
      .showcase-slide
        .showcase-content
          = image_tag "home/pic04.jpg"
      .showcase-slide
        .showcase-content
          = image_tag "home/pic05.jpg"



%br/
.row
  .span4
    = display_header :normal => "Permanent", :bolded => "Residence in Cyprus"
    %a{:href => static_permanent_residence_path}
      = image_tag 'home/activity_one.jpg'
    %p
      According to the provisions of Regulation 6(2) of the Aliens and Immigration Regulations, the Minister of the Interior decided to issue Immigration Permit to applicants, who are third country nationals, provided that they fulfill the following criteria:
      %strong
        %a{:href => static_permanent_residence_path, :class => 'pull-right'} more...
  .span4
    = display_header :normal => "Property", :bolded => "Services"
    %a{:href => static_property_services_path}
      = image_tag 'home/activity_two.jpg'
    %p
      We are a real-estate developer in Cyprus focusing purely on creating luxurious properties for buyers at the top-end of the wealth scale.
      %strong
        %a{:href => static_property_services_path, :class => 'pull-right'} more...
  .span4
    = display_header :normal => "About", :bolded => "Cyprus"
    %a{:href => static_about_cyprus_path}
      = image_tag 'home/activity_three.jpg'
    %p
      There is something magical about Cyprus. It is about amazing colors of the sea, a sense of endlessness of a holiday and of total freedom.
      %strong
        %a{:href => static_about_cyprus_path, :class => 'pull-right'} more...

.row
  %br/
  .span4
    = display_header :normal => "Cyprus", :bolded => "map"

    = static_google_map_tag(:center => '35.168570,33.307800', :size => '370x350', :zoom => 8 )

  .span8
    = display_header :normal => "Featured", :bolded => "lots"

    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Title
          %th Type
          %th Location
          %th Price
          %th &nbsp;
      %tbody
        - @lots.each do |lot|
          %tr
            %td= link_to lot.title, lot_path(lot)
            %td= lot.type
            %td= lot.location
            %td= display_price(lot.price)
            %td= link_to "View", lot_path(lot)
