.row
  .span3.well.lform
    = form_for @lot_search_form, :url => search_lots_path, :method => :get, :html => {:class => 'form-inline', :id => 'lots-search-form'} do |f|
      = field_set_tag do
        .row
          .span3
            .control-group
              = f.label :type, "I want to"
              .controls
                = f.select :type, @lot_search_form.types
        .row
          .span3
            .control-group
              = f.label :location_id, "In the following location"
              .controls
                = f.select :location_id, @lot_search_form.locations, {}, :class => 'span2 focused'

        .row
          .span3
            = f.label :price_from, "For the following price"
        .row
          .span1
            .control-group
              .controls
                = f.select :price_from, @lot_search_form.prices_from, {}, :class => 'span1 focused'
          .span1
            .control-group
              .controls
                = f.select :price_to, @lot_search_form.prices_to, {}, :class => 'span1 focused'

        .row
          .span3.pull-right{:style => 'margin-top: 10px;'}
            = f.submit "Go", :class => 'btn btn-primary pull-right'

  .span8.home_carousel.no_margin_left.pull-right
    <img src='http://images.shoptopia.com/files/mf_photo/board_game.jpg' />

    
%ol
  - @lots.each do |lot|
    %li= link_to "#{lot.title} (#{lot.type})", lot_path(lot)