.row
  .span4
    .row
      %h4.span3.well Change location and criteria
      .span3.well
        = form_for @lot_search_form, :url => search_lots_path, :method => :get, :html => {:class => 'form-inline mini', :id => 'lots-search-form'} do |f|
          = field_set_tag do
            .row
              .span3
                .control_group
                  = f.label :type, "I want to", :class => 'control-label'
                  .controls
                    = f.select :type, @lot_search_form.types, {}, :class => 'span2'
            .row
              .span3
                .control-group
                  = f.label :location_id, "Location", :class => 'control-label'
                  .controls
                    = f.select :location_id, @lot_search_form.locations, {}, :class => 'span2'

            .row
              .span3
                .control-group
                  = f.label :price_from, "Price", :class => 'control-label'
                  .controls
                    = f.select :price_from, @lot_search_form.prices_from, {}, :class => 'span1'
                    = f.select :price_to, @lot_search_form.prices_to, {}, :class => 'span1'

            .row
              .span2.pull-right{:style => 'margin-top: 10px;'}
                = f.submit "Go", :class => 'btn btn-primary pull-right'

    .row
      %h4.span3.well Filters
      .span3.well.lots-search-filters
        - if @lot_search_form.type == "Residential"
          %h4 Residential types:
        - elsif @lot_search_form.type == "Investment"
          %h4 Investment types:
        - else
          %h4 Land types:

        %ul.nav
          %li
            = link_to "All", search_lots_path(merge_link_params(params, {:lot_search_form => {:lot_internal_type => ""}}))
            %ul
              - @lot_search_form.type.constantize.get_lot_internal_type_values.map do |key, value|
                %li
                  = link_to "- #{value}", search_lots_path(merge_link_params(params, {:lot_search_form => {:lot_internal_type => key}}))
              

  .span8
    - @lots.each do |lot|
      .row
        .span2
          - if lot.pictures.first
            %a{:href => lot_path(lot), :class => 'thumbnail'}
              = image_tag lot.pictures.first.picture(:thumb)
          %h5
            Price: 
            = display_price(lot.price)
        .span6
          %a{:href => lot_path(lot)}
            %h3= lot.title
      %hr/