- content_for :additional_js do
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=#{Rails.configuration.google_maps_api_key}&sensor=false"></script>

#mapModal.modal.hide
  .modal-header
    %a{:class => 'close', :data => {:dismiss => 'modal'}} Close
  #mapModalMap.modal-body

.row
  .span8
    = render @lot
  #portamento_container.span4.pull-right
    #property_map.center
      %a{:data => {:toggle => 'modal'}, :href => '#mapModal'}
        = static_google_map_tag(:center => @lot.lat_long, :size => '250x250', :zoom => 15, :markers => {:style => 'color:red', :locations => @lot.lat_long} )
      = hidden_field_tag 'mapModalLat', @lot.latitude
      = hidden_field_tag 'mapModalLong', @lot.longitude
      %p
        %br/
        %a{:data => {:toggle => 'modal'}, :href => '#mapModal'} View larger map
       