!!! 5
%html{:lang => 'ru'}
  %head
    %meta{:charset => 'utf-8'}
    %title MBT Real Estate
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script><![endif]-->
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
  
  %body
    .container
      .row
        .span12
          .navbar
            .navbar-inner
              .container
                .nav-collapse
                  %ul.nav
                    %li
                      %a(:href="#") Main
      .row
        #notifications.span12
          = display_flash_messages(flash)
          
      .row
        .span12= yield
        
