!!! 5
%html{:lang => 'ru'}
  %head
    %meta{:charset => 'utf-8'}
    %title MBT Real Estate
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script><![endif]-->
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
  
  %body
    .container
      .row
        .span4.logo
          %a{:href => root_path}
            .row
              .span4
                %h1
                  %small MBT
                  %br/
                  %span Real 
                  estate    
        .span4.customer_service.pull-right.text-right
          %br/
          %h4 Customer service: 0800 8475 548
          %h4 
            %small 24 hours a day, 7 days a week      
      
      .row#navigation-panel
        .span12= render 'navbar'

      .row
        #notifications.span12
          = display_flash_messages(flash)
          
      .row
        #content.span12= yield
        
